/*
#fffd82;
#ff9b71;
#e84855;
#b56b45;
#2b3a67;
*/

body {
  background: #2b3a67;
  color: #fffd82;
  margin: 3rem;
}

html, body, input, textarea, select, button {
  font: 16px/1.5 europa, sans-serif;
}

/* Typography */

a {
  color: #e84855;
}

h1, h2, h3 {
  line-height: 1;
}

h1 {
  font-size: 6.854em;
  text-transform: uppercase;
}

h2 { font-size: 4.236em; }

h3 { font-size: 2.618em; }

h2, h3 { font-weight: 300; }

/* Layout */

h1, h2, h3, p, ul, ol {
  margin: 0 0 1.5rem;
}

ul, ol {
  padding-left: .75rem;
  list-style: square;
}

input, textarea {
  box-sizing: border-box;
  padding: 0.25rem;
  border: 0;
}

button, .btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background: #e84855;
  border: 0;
  color: white;
  text-decoration: none;
}

.btn.-yellow {
  background: #ffe873;
  color: #333;
}

p:last-child {
  margin-bottom: 0;
}

form {
  background: #ffe873;
  color: #333;
  padding: 3rem;
  box-sizing: border-box;
  width: 100%;
}

form > p > label {
  display: block;
}

form > p > input,
form > p > textarea {
  width: 100%;
}

main {
  overflow: visible;
  background-size: 50%;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

header {
  margin-bottom: 4.5rem;
}

/* Pages */

.page {
  max-width: 40rem;
}

.form-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.form-page > * {
  flex: 1;
}

.form-page > form {
  flex: 1.5;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}
